.main_nav {
	height: 8.5vh;
	display: flex;
	align-items: center;
}

.theme_icon {
	margin-left: 2rem;
	cursor: pointer;
}

.darkIcon {
	color: rgb(0, 68, 255);
}

.lightIcon {
	color: rgb(176, 176, 17);
}

.nav_links {
	display: flex;
	margin: 0 8rem 0 auto;
	align-items: center;
}

.logout_container {
	width: 75px;
}

.logout {
	display: flex;
	width: 80px;
	height: 30px;
	background: #4e9caf;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
	line-height: 13px;
	align-items: center;
}

.profile_pic {
	display: flex;
	align-items: center;
}

.profile_pic img {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-left: 1.2rem;
}

.border_bottom {
	background: rgba(18, 72, 103);
	background: linear-gradient(
		90deg,
		rgba(18, 72, 103, 0.968) 0%,
		rgba(255, 255, 255, 1) 92%
	);
	margin: 0.2rem 2rem 0 0;
	height: .8px;
}
