.main_nav {
	height: 20.5vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.theme_icon {
	margin-left: 2rem;
}

.nav_links {
	display: flex;
	margin: 0 2rem 0 auto;
	align-items: center;
}

.logout {
	display: block;
	width: 60px;
	height: 13px;
	background: #4e9caf;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
	line-height: 13px;
}

.profile_pic {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0.25rem;
}

.profile_pic img {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-left: 1.2rem;
}

.border_bottom {
	background: rgba(18, 72, 103);
	background: linear-gradient(
		90deg,
		rgba(18, 72, 103, 0.968) 0%,
		rgba(255, 255, 255, 1) 92%
	);
	margin: .2rem 2rem 0;
  height: 7px;
}
