.card {
  display: flex;
  flex-direction: column;
  height: 167px;
  width: 375px;
}

.ybcard_content {
  display: flex;
}

.icon_container {
  width: 200px;
}

.icon_container h3 {
  margin-left: 1rem;
  padding: 0;
}

.ybcard_icon_success {
  background-color: rgb(162, 233, 162);
  color: green;
  border-radius: 50%;
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-top: 0;
}

.ybcard_gauge {
  width: 10px;
}