.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  padding: 1rem 2rem;
}

.top_kpi {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
}