.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  grid-template-rows: masonry;
}

.div {
  height: 150px;
}

.div3 {
  grid-row-start: 1;
  grid-row-end: 3;
  height: 408px;
}

.div4 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 250px;
  width: 100%;
}

.chart_container {
  width: 100%;
  display: flex;
  justify-content: end;
}

.chart {
  height: 200px;
  display: flex;
  justify-content: end;
  width: 75%;
}

.div5 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
  height: 250px;
}

.div6 {
  grid-row-start: 3;
  grid-row-end: 5;
  height: 250px;
}

.div7 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 7;
  height: 250px;
}

.div8 {
  grid-row-start: 5;
  grid-row-end: 7;
  height: 250px;
}