.container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: 20px;
	grid-template-rows: masonry;
}

.div1,
.div2 {
	height: 100px;
}

.div3 {
	grid-row-start: 1;
	grid-row-end: 3;
	height: 420px;
}

.div4 {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 4;
	height: 300px;
	width: 100%;
}

.div5 {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 3;
	height: 220px;
	width: 100%;
}

.div6 {
	grid-row-start: 3;
	grid-row-end: 3;
	height: 220px;
}

.div7 {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 6;
	height: 300px;
}

.div8 {
	grid-row-start: 4;
	grid-row-end: 6;
	height: 300px;
}

@media screen and (min-width: 2560px) {
	.container {
		display: grid;
		gap: 20px;
		grid-template-rows: masonry;
    justify-self: center;
	}

  
}
