.card {
	padding: 1rem 0;
}

.tableheader_container {
	display: flex;
	justify-content: space-around;
	position: sticky;
  top: 0px;
  background-color: #fff;
}

.tableheader {
  width: 80px;
}

.post_information_container {
	display: flex;
	justify-content: space-around;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
	margin: 1rem 0;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.post_information {
	width: 220px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}
